html {
  height: 200vh;
  background-color: rgb(219, 213, 255);
}

p {
  margin-left: 20%;

  margin-right: 10%;

  margin-top: 15px;

  padding: 10px;

  font-size: 20px;

  font-family: "Kode Mono", monospace;

  
}

h1 {
  font-size: 60px ;

  font-weight: bolder;
}

h2 {
  font-size: 20px;

  font-weight: 600;

  text-align: center;

  margin-top: 20px;

  margin-left: 10%;

  margin-right: 5%;

  font-family: "Kode Mono", monospace;

}

img {
  height: 300px;

  width: 100vw;
}

#joinbttn {
  height:50px;
  width: 150px;
  background-color: blueviolet;
  border-radius: 25px;
  margin: auto;
  margin-top: 30px;
  text-decoration:none;

}


* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;

  
}


  
  .body-text {
  
    display: flex;
  
    font-family: "Kode Mono", monospace;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 20px;

    text-decoration: none;


  
  }


  
  nav {

    position:sticky;
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    min-height: 8vh;
  
    background-color: DarkSlateBlue;
  
    font-family: "Montserrat", sans-serif;
  
  }
  
  .heading {


    position:sticky;
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {

    position:sticky;
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {

    position:sticky;
  
    list-style: none;
  
  }
  
  .nav-links a {

    position:sticky;
  
    color: white;

    border-radius: 5px;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {

    position:sticky;
  
    background-color: SlateBlue;
  
  }
  
  .nav-links li a.active {

    position:sticky;
  
    background-color: MediumPurple;
  
  }